@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.lista_itens {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_item {
    border: 1px solid rgba(223, 225, 229, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

img {
    border-radius: 10px;
}
